<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source=DESKTOP-CP18JSD; Initial Catalog=CLI_Recruitment;User ID=sa; Password=xx;" providerName="System.Data.SqlClient" />
    <add name="dbconnection2" connectionString="Data Source=DESKTOP-CP18JSD; Initial Catalog=CebuLandMasters7;User ID=sa; Password=xx;" providerName="System.Data.SqlClient" />

    <!--<add name="dbconnection" connectionString="Data Source=DESKTOP-N5EA07S; Initial Catalog=CLI_Recruitment;User ID=sa; Password=xx;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
	<compilation debug="true" targetFramework="4.5" />
	<httpRuntime maxRequestLength="102400" executionTimeout="90000" requestValidationMode="2.0"/>
  </system.web>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="200000" />
    <add key="SecurityKey" value="abcdefghijklmnop" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
  </appSettings>
    <system.webServer>
        <modules>
            <remove name="Session" />
            <remove name="UrlRoutingModule-4.0" />
            <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
            <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition="" />
        </modules>
        <defaultDocument>
            <files>
                <add value="content/HR/Form.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>